*{
  margin: 0px;
}
body{
  width: 100vw;
  height: 100vh;
}

.header{
  background-color: #81cacf;
  color: white;
  text-shadow: 2px 2px 2px black;
  box-shadow: 0px 0px 5px black;
  display: flex;
  padding: 10px;
  align-items: center;
}

.header .userDP{
  position: absolute;
  right: 30px;
  background-color: rgb(0, 136, 255);
  font-size: 22px;
  padding: 7px;
  font-family: 'Times New Roman', Times, serif;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.header .userHover{
  position: absolute;
  right: -20px;
  top: 35px;
  background-color: black;
  width: 100px;
  font-size: 16px;
  padding: 10px 0px;
  display: none;
}
.header .userDP:hover .userHover{
  display: block;
}


.header .userHover p{
  padding: 3px 15px;
}

.header .userHover p:hover{
  background-color: rgba(240, 248, 255, 0.281);
}

.header h1{
  margin-left: 10px;
  font-size: 30px;
  font-family: cursive;
}

.NotesAdder{
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin:10px auto ;
  /* margin: 14px; */
  padding:10px 10px ;
  border: 1px solid black;
  
}

.NotesAdder input{
  /* border: none; */
  margin-bottom: 10px;
  width: 97%;
}

.NotesAdder input:first-child{
  font-size: 50px;
}

#NotesAdderNotes{
  height: 120px; 
  width: 97%;
}

.NotesAdder button{
  font-size: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: bolder;
  background-color: rgb(255, 191, 0);
  border: none;
}

.AllCards{
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 10px 30px; */
  width:100vw ;
  padding-bottom: 50px;
}

/* .AllCards .Cards:first-child{
  display: none;
} */


.cardsOuter{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.Cards{
  background-color: aqua;
  width: 270px;
  height: 150px;  
  border-radius: 20px;
  margin: 10px 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.437);
  padding: 10px 20px;
  overflow-wrap:break-word;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.Cards::-webkit-scrollbar{
  display: none;
}

.Cards h1{
  font-size:45px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.Cards p {
  font-size: 18px;
}

.Cards #CardsButton{
  margin-top: 10px;
  margin-left: 80%;
  right: 10px;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: 22px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  /* transform: rotate(45deg); */
}

.Cards #CardsButton:hover{
  transform: scale(1.2) ;
  box-shadow: 0px 0px 5px black;
}

.Footer{
  background-color: #81cacf;
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 80vw;
  padding: 0px 10vw;
  justify-content: space-evenly;

}
.Footer a{
  color: black;
}